html {
    min-height: 100%;
    background-image: linear-gradient(0deg,#ffffff,#FFFF9D);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 10;
}
body { background-color: transparent;}
.top-banner{
    height: 70px;
    background-color: navy;
    widows: 100%;
    margin-bottom: 25px;
}
.logo-wrapper { width: 65px; height: 85px; margin: auto; padding-top: 20px;}
.logo-wrapper > img { width: 100%;}

.app-brand { text-align: center; margin: 0; padding: 0;}
.smkpb{ font-size: 24px; font-family: 'Acme', sans-serif; color: navy;}
.app-name { font-size: 16px; font-family: 'Bree Serif', serif; color: brown;}
.app-content { font-size: 16px; font-family: 'Montaga', serif; color: black;}

.boks-wrapper { 
    width: 90%; margin: 5%; box-sizing: border-box; min-height: 125px; 
    border: 2px solid #006600; margin-top: 15px; margin-bottom: 5px;
}

.boks-label {
    height: 35px; background-color: #006600; color: #dddddd; 
    padding: 5px 10px; box-sizing: border-box; font-weight: bold;
}

.boks-content {
    min-height: 90px; background-color: #EEEEEE;
}
.btn-kelas { width: 100px; margin: 2px;}
.btn-absen { width: 50px;  height: 50px; margin: 2px;}

.sisdata { width: 200px; display: inline-block; margin: 1px 0px;} 
.app-menu {
    min-height: 60px; 
    background-image: linear-gradient(-30deg,white,#dddddd,maroon,maroon);
    border-radius: 5%; margin:10px 0px; padding-bottom: 15px; border: 1px solid maroon;
}

.app-menu > img { width: 50%; margin: 5% 25%; cursor: pointer;}

.menu-name { text-align: center; font-family:  'Montaga', serif; }

/* modal moodq */
#moodq > div > div > div.modal-body > div > li > img { width: 40px; height: 40px;}
