html {
    min-height: 100%;
    background-image: linear-gradient(0deg,#ffffff,#FFFF9D);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 10;
}
body { background-color: transparent;}
.top-banner{
    height: 70px;
    background-color: navy;
    widows: 100%;
    margin-bottom: 25px;
}
.pg-header{
    background-color:rgb(73, 54, 1); color: navajowhite;
    padding: 10px 0px;
}
.pg-header > div.col-lg-1 {text-align: center;}
.pg-header > div.col-lg-1 > img { height: 60px; width: 60px; margin-left: auto;}
.pg-header > div.col-lg-8 > h2 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white; text-shadow: 2px 2px 5px #d6e22c;
    padding-top: 10px;
}

.sub-header { text-align: center; margin-top: 10px; margin-bottom: 0px;}
.sub-header > h3 {  font-weight: bolder; color:navy;}

.app-content { font-size: 16px; font-family: 'Montaga', serif; color: black;}

.boks-wrapper { 
    width: 94%; margin-left: 3%; margin-right: 3%; box-sizing: border-box; min-height: 75px; 
    border: 2px solid #006600; margin-top: 5px; margin-bottom: 5px;
}
.boks-wrapper-merah { 
    width: 100%; box-sizing: border-box; border: 2px solid #ff0606; margin-bottom: 5px;
}

.boks-wrapper-hitam { 
    width: 94%; margin-left: 3%; margin-right: 3%; box-sizing: border-box; min-height: 45px; 
    border: 2px solid #000000; margin-top: 5px; margin-bottom: 5px; background-color: black;
    color: white;
}

.boks-label {
    height: 35px; background-color: #006600; color: #dddddd; 
    padding: 5px 10px; box-sizing: border-box; font-weight: bold;
}
.boks-label-merah {
    height: 35px; background-color: #ff0606; color: #dddddd; 
    padding: 5px 10px; box-sizing: border-box; font-weight: bold;
}

.boks-content {
    min-height: 40px; background-color: #EEEEEE;
}
.btn-kelas { width: 98px; height: 48px; margin: 2px; font-size: 14px; background-color: navy;}
.btn-absen { width: 58px;  height: 48px; margin: 2px; font-size: 14px; background-color: navy;}
.h40 {max-height: 40px;}
.sisinfo { font-weight: bold; color: yellow;}
.btn-choise { min-width: 125px; margin: 5px 0px;}