#loginHeader{
    background-color: darkslategray; color: #e0e0e0;
    padding: 25px 0px; margin-bottom: 50px;
}
#loginHeader > h5 ,
#loginHeader > h4 { margin:0;padding:0; text-align: center;}

#login-title {
    font-size: 32px; text-align: center;
    background-color: #313d1c; color: #eeeeee;
    padding: 15px; font-weight: bolder;
}
#login-wrapper {
    background: linear-gradient(#00ffff , #78ffff , #b1ffff);
    padding: 30px 10px;
}
#login-wrapper > form { 
    padding: 0px 15px;
}

.credensial{
    background-color: #d8ec69; padding: 10px 10px;
    color: #15012f; font-weight: bold;
} 